<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Gruppenerstellung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation" th:switch="${account.getRoles().contains('orga')}">
        <ul>
            <li>
                <a th:href="@{/gruppen2}" href="/">Gruppen</a>
            </li>
            <li th:case="${true}" class="active">
                <a href="/createOrga" th:href="@{/gruppen2/createOrga}">Erstellen</a>
            </li>
            <li th:case="${false}" class="active">
                <a href="/createStudent" th:href="@{/gruppen2/createStudent}">Erstellen</a>
            </li>
            <li>
                <a th:href="@{/gruppen2/findGroup}" href="/findGroup">Suche</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h1>Gruppenerstellung</h1>
                <form method="post" action="/gruppen2/createGroup">
                    <div class="shadow p-2" style=" border: 10px solid aliceblue; border-radius: 5px; background: aliceblue">

                        <div class="form-group">
                            <label for="titel">Titel</label>
                            <input class="form-control" id="titel" required th:name="title"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="description">Beschreibung</label>
                            <textarea class="form-control" id="description" required
                                      rows="3" th:name="description"></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <label for="userMaximum">Teilnehmeranzahl</label>
                            <input class="form-control" id="userMaximum" required th:name="userMaximum"
                                   type="number" min="1">
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="visibility" th:name="visibility"
                                   type="checkbox">
                            <label class="custom-control-label" for="visibility">Private
                                Gruppe</label>
                        </div>
                        <div class="form-group">
                            <label for="sel1"></label>
                            <select class="form-control" id="sel1">
                                <option disabled selected="true">--Bitte Veranstaltung auswählen--
                                </option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="form-group pt-4">
                            <button class="btn btn-primary"
                                    style="background: #52a1eb; border-style: none"
                                    type="submit">Erstellen
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
