<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/}" href="/">Gruppen</a>
            </li>
            <li  class="active">
                <a th:href="@{/createGroup}" href="/createGroup">Erstellen</a>
            </li>
            <li>
                <a th:href="@{/findGroup}" href="/findGroup">Suche</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Titel</th>
                        <th scope="col">Beschreibung</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Titel1</td>
                        <td>Beschreibung1</td>
                    </tr>
                    <tr>
                        <th>Titel2</th>
                        <td>Beschreibung2</td>
                    </tr>
                    <tr>
                        <td>Titel3</td>
                        <td>Beschreibung3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>