<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Gruppendetails</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <a th:href="@{/gruppen2}" href="/">Gruppen</a>
            </li>
            <li>
                <a th:href="@{/gruppen2/createGroup}" href="/createGroup">Erstellen</a>
            </li>
            <li>
                <a th:href="@{/gruppen2/findGroup}" href="/findGroup">Suche</a>
            </li>
            <li th:if="${account.getRoles().contains('orga')}">
                <a th:href="@{/gruppen2/createLecture}" href="/createLecture">Veranstaltung</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="shadow-sm p-4" style="border: 10px solid aliceblue; background: aliceblue">
                    <!-- absichern im controller nicht vergessen -->
                    <div class="form-group pt-4" th:if="${account.getRoles().contains('orga')}">
                        <form method="post" action="/gruppen2/details/members/addUsersFromCsv" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" th:name="file">
                                        <label class="custom-file-label" for="file">CSV Datei von Mitgliedern hochladen</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button th:name="group_id" th:value="${group.getId()}" class="btn btn-primary" type="submit" style="background: #52a1eb; border-style: none">Mitglieder hinzufügen</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Mitglied</th>
                            <th scope="col">Rolle</th>
                            <th scope="col" style="width: 320px">Optionen</th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr th:each="member : ${group.getMembers()}">
                                <th th:text="${member.getUser_id()}"></th>
                                <td>
                                    <span th:if='${group.getRoles().get(member.getUser_id()) == admin}'>Mitglied</span>
                                    <span th:if='${group.getRoles().get(member.getUser_id()) != admin}'>Admin</span>
                                </td>
                                <td>
                                    <button class="btn btn-warning">Rolle ändern</button> <!-- th:if -->
                                    <button class="btn btn-danger">Mitglied entfernen</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
