<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div class="mx-auto" style="vertical-align: center; horiz-align: center; top: 50%; left: 50%; margin-top: 200px">
    <div class="text-center" style="background: aliceblue; align-items: center; margin: auto; width: 1000px; vertical-align: center; padding: 50px; display: block">
        <h1 style="text-align: center">Da ist etwas schiefgelaufen!</h1>
        <h2 style="text-align: center">Die Seite, nach der du suchst, scheint nicht zu existieren.</h2>
        <br>
        <div>
            <button type="button" class="btn btn-primary" style="margin: auto">
                <a style="color: white" href="index.html">Zurück zur Hauptseite</a>
            </button>
        </div>
        <br>
    </div>
</div>
</body>
</html>