<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li class="active">
                    <a th:href="@{/home}" href="/home">Home</a>
                </li>
                <li>
                    <a th:href="@{/account}" href="/account">Account</a>
                </li>
            </ul>
        </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 rounded-sm text-center m-0">
                <h1>Gruppenerstellung</h1>
                <form method="post" action="/">
                    <div class="form-group">
                        <label>Titel der Gruppe</label>
                        <input class="form-control" type="text" th:value="${titel}" name="titel" placeholder="Titel der Gruppe">
                    </div>
                    <div class="form-group">
                        <label>Beschreibung der Gruppe</label>
                        <input class="form-control" type="text" th:value="${beschreibung}" name="beschreibung" placeholder="Beschreibung der Gruppe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark">weiter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>