<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li class="active">
                    <a th:href="@{/}" href="/">Gruppen</a>
                </li>
                <li>
                    <a th:href="@{/createGroup}" href="/createGroup">Erstellen</a>
                </li>
                <li>
                    <a th:href="@{/findGroup}" href="/findGroup">Suche</a>
                </li>
            </ul>
        </nav>
</header>
<main th:fragment="bodycontent">
    <h1>Meine Gruppen</h1>
    <div class="container-fluid">
        <form action="/" method="get">
            <div style="border: 10px solid ghostwhite; background: ghostwhite">
                <h4 style="color: royalblue; font-weight: bold">Titel der Gruppe</h4>
                <p>Beschreibung der Gruppe ...</p>

            </div>
        </form>
    </div>
</main>
</body>
</html>