<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Eigene Gruppen</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li class="active">
                    <a th:href="@{/gruppen2}" href="/">Gruppen</a>
                </li>
                <li>
                    <a th:href="@{/gruppen2/createGroup}" href="/createGroup">Erstellen</a>
                </li>
                <li>
                    <a th:href="@{/gruppen2/findGroup}" href="/findGroup">Suche</a>
                </li>
                <!-- Fix double point -->
                <li th:if="${account.getRoles().contains('orga')}">
                    <a th:href="@{/gruppen2/createLecture}" href="/createLecture">Veranstaltung</a>
                </li>
            </ul>
        </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h1>Meine Gruppen</h1>
                <form action="/" method="get">
                    <div th:each="gruppe: ${gruppen}">
                        <div class="shadow-sm p-4" style="border: none; background: aliceblue">
                            <h3 style="color: dodgerblue; font-weight: bold;">
                                <a th:href="@{/gruppen2/details(id=${gruppe.getId()})}" th:text="${gruppe.getTitle()}"></a>
                            </h3>
                            <p style="overflow-wrap: break-word" th:text="${#strings.abbreviate(gruppe.getDescription(),300)}"></p>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
            <div class="col-2">
                <div class="card" style="background: lightgrey">
                    <div class="card-body">
                        <h2 class="card-title" th:text="${user.getUser_id()}" style="text-align: center">user_id</h2>
                        <h3 class="card-text">
                            <span th:text="${user.getGivenname()}">username</span>
                            <span th:text="${user.getFamilyname()}">usersurname</span>
                        </h3>
                        <p class="card-text" th:text="${user.getEmail()}">usermail</p>
                        <p>
                            <small class="card-text">In Gruppen:</small>
                            <small   class="card-text" th:text="${gruppen.size()}"></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>