<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Suche</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/gruppen2}" href="/">Gruppen</a>
            </li>
            <li>
                <a th:href="@{/gruppen2/createGroup}" href="/createGroup">Erstellen</a>
            </li>
            <li class="active">
                <a th:href="@{/gruppen2/findGroup}" href="/findGroup">Suche</a>
            </li>
            <li th:if="${account.getRoles().contains('orga')}">
                <a th:href="@{/gruppen2/createLecture}" href="/createLecture">Veranstaltung</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <h1>Gruppensuche</h1>
                <form action="/gruppen2/findGroup" method="get">
                    <div class="shadow" style="border: 10px solid aliceblue; border-radius: 5px; background: aliceblue">
                        <div class="form-group">
                            <label for="suchleiste">Suchbegriff:</label>
                            <input id="suchleiste" class="form-control" placeholder="z.B. Programmieren, Lerngruppe, ..." th:name="suchbegriff" type="text">
                        </div>
                        <button type="submit" class="btn btn-primary" style="background: #52a1eb; border-style: none">Suchen</button>
                    </div>
                </form>
                <br>
                <table class="table">
                    <!-- Erscheint dann, wenn man "Suchen" Button klickt und Ergebnisse angezeigt werden, aber so solls aussehen -->
                    <thead th:if="${!gruppen.isEmpty()}">
                        <tr>
                            <th scope="col">Gruppenname</th>
                            <th scope="col">Beschreibung</th>
                            <th scope="col">Mitgliederanzahl</th>
                        </tr>
                    </thead>
                    <tbody th:each="gruppe : ${gruppen}">
                        <tr>
                            <th scope="row">
                                <a th:href="@{/gruppen2/detailsSearch(id=${gruppe.getId()})}"  th:text="${gruppe.title}">Gruppenname</a>
                            </th>
                            <td style="" th:text="${#strings.abbreviate(gruppe.getDescription(), 50)}">Beschreibung</td>
                            <td th:text="${gruppe.getMembers().size()}">Mitgliederanzahl</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>